.nav_wrapper {
  background-color: rgba(26, 26, 26, 0) ;
  height: 70px;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.nav_wrapper:hover {
  transition: 0.2s;
  background-color: rgba(26, 26, 26, 1);
}

.nav_wrapper.scrolled {
  background-color: #F7F7F7;
  color: #1A1A1A;
}

.nav_wrapper .nav_logo  {
  /* border: 1px solid red; */
  align-items: center;
  width: 20%;
  display: flex;
}

.logo {
  /* justify-content: center;
  align-items: center; */
  margin: 0 auto;
  color: #F7F7F7;
}

.logo.scrolled {
  color: #1A1A1A;
}

.nav_list {
  float: right;
  display: flex;
  /* border: 1px solid red; */
  /* margin: 0 auto; */
  padding: 10px 50px;
}

.nav_list li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  padding: 0 2rem;
}

.menu_item {
  display: inline-block;
  margin: 0 10px;
}

.menu_item a {
  color: #F7F7F7;
  text-decoration: none;
}

.menu_item:hover {
  text-decoration: underline;
  text-decoration-color: #F7F7F7;
  /* color: aqua; */
}

.menu_item.scrolled a {
  color: #1A1A1A;
}

.menu_item.scrolled:hover {
  text-decoration: underline;
  text-decoration-color: #1A1A1A;
}

.menu_toggle {
  /* border: 20px solid red; */
  display: none;
}

.menu_toggle.scrolled {
  color: black;
}

.product_list {
    display: grid;
    /* margin: 0 auto; */
    grid-template-columns: repeat(3, 1fr); /* setiap baris terdiri dari 4 kolom yang sama lebar */
    grid-gap: 25px; /* jarak antar card */
    /* border: 2px solid red; */
    margin: 10px 10px;
  }
  
  .img {
    max-width: 100%;
    height: auto;
    /* margin-top: 200px; */
  }
  
  .hr {
    width: 50%;
    /* padding: 20px; */
    margin: 5rem auto 0 auto;
    border: 1px solid;
    /* font-size: 25px; */
  }

  /* styles for screens smaller than 768px */
@media only screen and (max-width: 767px) {
   
    .product_list {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }

  }
  
  /* styles for screens larger than 768px */
  @media only screen and (min-width: 768px) {
    
    .product_list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  