.img {
  max-width: 100%;
  height: auto;
  /* margin-top: 200px; */
}

.text {
      width: 35%;
      position: absolute;
      top: 50%;
      left: 25%;
      transform: translate(-50%, -50%);
      color: #F7F7F7;
      font-size: 4rem;
      /* border: 1px solid red; */
      font-weight: bold;
          margin-top: 0;
          margin-bottom: 0.5rem;
          /* -webkit-text-stroke: 1px #1A1A1A;
      text-stroke: 1px #1A1A1A;
         */
        float: left;
    }
.message {
  font-size: 40px;
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto;    
  padding: 25px;
  /* text-align: center; */
  /* border: 5px solid yellow; */
}

.product_list {
  display: flex;
  /* margin: 0 auto; */
  grid-template-columns: repeat(3, 1fr); /* setiap baris terdiri dari 4 kolom yang sama lebar */
  grid-gap: 25px; /* jarak antar card */
  /* border: 2px solid red; */
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}


/* styles for screens smaller than 768px */
@media only screen and (max-width: 767px) {
  .text {
    width: 70%;
    top: 4rem;
    font-size: 2rem;
    text-align: left;
    left: 45%;
    font-size: 40px;
    transform: translateX(-50%);
  }
  .message {
    font-size: 20px;
    /* border: 1px solid red; */
    text-align: center;
  }
  
  .product_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* styles for screens larger than 768px */
@media only screen and (min-width: 768px) {
  .text {
    width: 35%;
    font-size: 4rem;
    text-align: left;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  
  .product_list {
    grid-template-columns: repeat(3, 1fr);
  }
}
