@media only screen and (max-width: 767px) {
    .sidebar{
        /* float: right; */
        position: fixed;
        top: 0;
        right: 0;
        height: 50vh;
        width: 75%;
        margin: 4rem 0;
        display: flex;
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */
        background-color: #F7F7F7;
        z-index: 99;
        font-size: x-large;
        /* border: 1px solid; */
       }
      
       .sidebar ul li{
        /* float: right; */
        /* border: 1px solid; */
        list-style: none;
        color: #1A1A1A;
        margin: 20px auto;
       }
      
       .sidebar ul li a{
        color: #1A1A1A;
       }
}